extend layout

block pageHeading
	| Conditionals

block pageTitle
	title #{title} ::
		block pageHeading

block navigation
	| &#58;&#58; 
	#{pageTitle}
	block pageHeading
	a(href='index') Home


block headerScripts
	script.
		hljs.tabReplace = '    ';
		hljs.initHighlightingOnLoad();
	
		
block content
	.page_header
		h2 
			block pageHeading
		:markdown
			Conditionals or conditional statements are the core of programing.  The conditionals guide the flow of
			our programs.  They allow us to add desision making ability to the code.
			
			### Comparisons 

			#### Comparison Operators				 

			| Operator		| Universal Symbols	| Javascript	| Description													|
			| :------:		| :---------------:	| :--------:	| :----------													|
			| equal			| ==				| ==			| Both condition evaluate to the same. 							|
			| exactly equal | ===				| ===			| Both condition evaluate to same value and type. 				|
			| not equal		| !=				| !=			| The oposite that the condition evaluates to. 					|
			| exlusive or 	| XOR				| --none--		| One condition or the other evaluates to true but not both. 	|


			#### Logical Operators	 		  

			| Operator		| Universal Symbols	| Javascript	| Description													|
			| :------:		| :---------------:	| :--------:	| :----------													|
			| and			| & && AND			| &&			| Both conditions must evaluate to true. 						|
			| or			| |	|| OR			| ||			| Either condition evaluates to true. 							|
			| not			| ! NOT				| !				| The oposite that the condition evaluates to. 					|
			| exlusive or 	| XOR				| 				| One condition or the other evaluates to true but not both. 	|

			### If()

			To become a master developer you must learn the ways of the `if`.  The if statement takes everything inside of the
			parentheses and evaluates them to either `TRUE` or `FALSE`.  If only understand those two options.   
			
			### Else and Else if()
			
			### Switch
			
			### Ternary Oporator