extend layout

block pageTitle
	title #{title}

block navigation

block content
	.page_header
		h2 Javascript Lessons
	p.
		Welcome to the the JavaScript Lessons training site. 
	
	.twoColumn
		div
			ul.toc#lessons
				li.head
					strong Lessons
				li
					a(href='intro') Introduction  
				li 
					a(href='variables') Variables 
		div	
			ul.toc#excercises
				li.head
					strong Exercises
				li
					a(href='helloWorld') Hello World! 
				li
					a(href='hello{name}') Hello {name}!
					
