extend layout

block pageTitle
	title #{title}

block navigation

block content
	.page_header
		h2 JavaScript for Designers
	.fullWidth
		p.
			Welcome to the JavaScript for Designers.  

	.twoColumn
		div
			ul.toc#lessons
				li.head
					strong Lessons
				li
					a(href="intro") Introduction
				li
					a(href="variables") Variables
				li
					a(href="conditionals") Conditionals
				li
					a(href="functions") Functional Groupings
				li
					a(href="loops") Loops
				//li
				//	a(href="errors") Errors and Error Handeling	
				
			ul.toc#excercises
				li.head
					strong Exercises
				li
					a(href="hello-world") Hello World!
				li
					a(href="hello-name") Hello {name}!
				li
					a(href="form-validation") Form Validation
				li
					a(href="form-sanitization") Form Sanitization
				li
					a(href="input-looping") Input Looping
	.twoColumn
		div
			ul.toc#appendix
				li.head
					strong Appendix
				li
					a(href"reserved-words") Reserved Words
			