extend layout

block pageHeading
	| Variables

block pageTitle
	title #{title} ::
	block pageHeading

block navigation
	| &#58;&#58; 
	#{pageTitle}
	block pageHeading
	a(href='index') Home

block content
	.page_header
		h2 
			block pageHeading
		p
			| Variables are the tools that allow us to temporarily store values. 
		
		h3 Reserved Words
		:markdown
			