extend layout

block pageHeading
	| Variables

block pageTitle
	title #{title} ::
	block pageHeading

block navigation
	| &#58;&#58; 
	#{pageTitle}
	block pageHeading
	a(href='index') Home

block content
	.page_header
		h2 
			block pageHeading
		p.
			What is JavaScript? JavaScript is a prototype based scripting language that is a dialects of ECMAScript.  
			Other dialects of ECMAScript include ActionScript and JSscript.  Quite contrary to it's name, JavaScript 
			is not related to the JAVA programming language. JavaScript was developed to fill the gaps in the HTML.
			In the mid 90' several scripting languages were developed to address the issue of HTML content being 
			static.  At the time Pearl was the backbone of the internet. CGI scripting. If you are reading this
			I am going to assume you didn't have to suffer with CGI scripting very much (Lucky you).     
	
		h3 Interpreted vs Compiled Languages
		p.
			Computer do not understand high level languages like JavaScript, PHP, C, etc. directly. They have to be
			translated into machine code.  The process of translation is called compiling. Interpreted languages or 
			scripting languagesare compiled every time the program is run, while compiled languages are are compiled 
			once at build. Generally speaking compiled languages have much better performance. 
